@keyframes jet-desk {
  0% {
    transform: translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translate(-50%, -50%);
  }
  1.79% {
    transform: translate(43.2178px, 0.0179px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-0.8929deg) translate(-50%, -50%);
  }
  3.57% {
    transform: translate(85.6569px, 0.0357px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-1.7857deg) translate(-50%, -50%);
  }
  5.36% {
    transform: translate(127.3173px, 0.0536px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-2.6786deg) translate(-50%, -50%);
  }
  7.14% {
    transform: translate(168.199px, 0.0714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-3.5714deg) translate(-50%, -50%);
  }
  8.93% {
    transform: translate(208.302px, 0.0893px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-4.4643deg) translate(-50%, -50%);
  }
  10.71% {
    transform: translate(247.6263px, 0.1071px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-5.3571deg) translate(-50%, -50%);
  }
  12.5% {
    transform: translate(286.1719px, 0.125px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-6.25deg) translate(-50%, -50%);
  }
  14.29% {
    transform: translate(323.9388px, 0.1429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-7.1429deg) translate(-50%, -50%);
  }
  16.07% {
    transform: translate(360.927px, 0.1607px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-8.0357deg) translate(-50%, -50%);
  }
  17.86% {
    transform: translate(397.1365px, 0.1786px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-8.9286deg) translate(-50%, -50%);
  }
  19.64% {
    transform: translate(432.5673px, 0.1964px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-9.8214deg) translate(-50%, -50%);
  }
  21.43% {
    transform: translate(467.2194px, 0.2143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-10.7143deg) translate(-50%, -50%);
  }
  23.21% {
    transform: translate(501.0928px, 0.2321px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-11.6071deg) translate(-50%, -50%);
  }
  25% {
    transform: translate(534.1875px, 0.25px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-12.5deg) translate(-50%, -50%);
  }
  26.79% {
    transform: translate(566.5035px, 0.2679px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-13.3929deg) translate(-50%, -50%);
  }
  28.57% {
    transform: translate(598.0408px, 0.2857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-14.2857deg) translate(-50%, -50%);
  }
  30.36% {
    transform: translate(628.7994px, 0.3036px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-15.1786deg) translate(-50%, -50%);
  }
  32.14% {
    transform: translate(658.7793px, 0.3214px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-16.0714deg) translate(-50%, -50%);
  }
  33.93% {
    transform: translate(687.9805px, 0.3393px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-16.9643deg) translate(-50%, -50%);
  }
  35.71% {
    transform: translate(716.4031px, 0.3571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-17.8571deg) translate(-50%, -50%);
  }
  37.5% {
    transform: translate(744.0469px, 0.375px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-18.75deg) translate(-50%, -50%);
  }
  39.29% {
    transform: translate(770.912px, 0.3929px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-19.6429deg) translate(-50%, -50%);
  }
  41.07% {
    transform: translate(796.9984px, 0.4107px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-20.5357deg) translate(-50%, -50%);
  }
  42.86% {
    transform: translate(822.3061px, 0.4286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-21.4286deg) translate(-50%, -50%);
  }
  44.64% {
    transform: translate(846.8351px, 0.4464px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-22.3214deg) translate(-50%, -50%);
  }
  46.43% {
    transform: translate(870.5855px, 0.4643px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-23.2143deg) translate(-50%, -50%);
  }
  48.21% {
    transform: translate(893.5571px, 0.4821px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-24.1071deg) translate(-50%, -50%);
  }
  50% {
    transform: translate(915.75px, 0.5px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-25deg) translate(-50%, -50%);
  }
  51.79% {
    transform: translate(937.1642px, 0.5179px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-25.8929deg) translate(-50%, -50%);
  }
  53.57% {
    transform: translate(957.7997px, 0.5357px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-26.7857deg) translate(-50%, -50%);
  }
  55.36% {
    transform: translate(977.6566px, 0.5536px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-27.6786deg) translate(-50%, -50%);
  }
  57.14% {
    transform: translate(996.7347px, 0.5714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-28.5714deg) translate(-50%, -50%);
  }
  58.93% {
    transform: translate(1015.0341px, 0.5893px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-29.4643deg) translate(-50%, -50%);
  }
  60.71% {
    transform: translate(1032.5548px, 0.6071px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-30.3571deg) translate(-50%, -50%);
  }
  62.5% {
    transform: translate(1049.2969px, 0.625px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-31.25deg) translate(-50%, -50%);
  }
  64.29% {
    transform: translate(1065.2602px, 0.6429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-32.1429deg) translate(-50%, -50%);
  }
  66.07% {
    transform: translate(1080.4448px, 0.6607px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-33.0357deg) translate(-50%, -50%);
  }
  67.86% {
    transform: translate(1094.8508px, 0.6786px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-33.9286deg) translate(-50%, -50%);
  }
  69.64% {
    transform: translate(1108.478px, 0.6964px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-34.8214deg) translate(-50%, -50%);
  }
  71.43% {
    transform: translate(1121.3265px, 0.7143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-35.7143deg) translate(-50%, -50%);
  }
  73.21% {
    transform: translate(1133.3964px, 0.7321px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-36.6071deg) translate(-50%, -50%);
  }
  75% {
    transform: translate(1144.6875px, 0.75px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-37.5deg) translate(-50%, -50%);
  }
  76.79% {
    transform: translate(1155.1999px, 0.7679px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-38.3929deg) translate(-50%, -50%);
  }
  78.57% {
    transform: translate(1164.9337px, 0.7857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-39.2857deg) translate(-50%, -50%);
  }
  80.36% {
    transform: translate(1173.8887px, 0.8036px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-40.1786deg) translate(-50%, -50%);
  }
  82.14% {
    transform: translate(1182.0651px, 0.8214px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-41.0714deg) translate(-50%, -50%);
  }
  83.93% {
    transform: translate(1189.4627px, 0.8393px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-41.9643deg) translate(-50%, -50%);
  }
  85.71% {
    transform: translate(1196.0816px, 0.8571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-42.8571deg) translate(-50%, -50%);
  }
  87.5% {
    transform: translate(1201.9219px, 0.875px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-43.75deg) translate(-50%, -50%);
  }
  89.29% {
    transform: translate(1206.9834px, 0.8929px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-44.6429deg) translate(-50%, -50%);
  }
  91.07% {
    transform: translate(1211.2663px, 0.9107px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-45.5357deg) translate(-50%, -50%);
  }
  92.86% {
    transform: translate(1214.7704px, 0.9286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-46.4286deg) translate(-50%, -50%);
  }
  94.64% {
    transform: translate(1217.4959px, 0.9464px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-47.3214deg) translate(-50%, -50%);
  }
  96.43% {
    transform: translate(1219.4426px, 0.9643px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-48.2143deg) translate(-50%, -50%);
  }
  98.21% {
    transform: translate(1220.6107px, 0.9821px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-49.1071deg) translate(-50%, -50%);
  }
  100% {
    transform: translate(1221px, 1px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-50deg) translate(-50%, -50%);
  }
}

@keyframes jet-mob {
  0% {
    transform: translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) translate(-50%, -50%);
  }
  1.79% {
    transform: translate(22.2283px, 0.0714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-0.8929deg) translate(-50%, -50%);
  }
  3.57% {
    transform: translate(44.0561px, 0.1429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-1.7857deg) translate(-50%, -50%);
  }
  5.36% {
    transform: translate(65.4834px, 0.2143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-2.6786deg) translate(-50%, -50%);
  }
  7.14% {
    transform: translate(86.5102px, 0.2857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-3.5714deg) translate(-50%, -50%);
  }
  8.93% {
    transform: translate(107.1365px, 0.3571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-4.4643deg) translate(-50%, -50%);
  }
  10.71% {
    transform: translate(127.3622px, 0.4286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-5.3571deg) translate(-50%, -50%);
  }
  12.5% {
    transform: translate(147.1875px, 0.5px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-6.25deg) translate(-50%, -50%);
  }
  14.29% {
    transform: translate(166.6122px, 0.5714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-7.1429deg) translate(-50%, -50%);
  }
  16.07% {
    transform: translate(185.6365px, 0.6429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-8.0357deg) translate(-50%, -50%);
  }
  17.86% {
    transform: translate(204.2602px, 0.7143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-8.9286deg) translate(-50%, -50%);
  }
  19.64% {
    transform: translate(222.4834px, 0.7857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-9.8214deg) translate(-50%, -50%);
  }
  21.43% {
    transform: translate(240.3061px, 0.8571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-10.7143deg) translate(-50%, -50%);
  }
  23.21% {
    transform: translate(257.7283px, 0.9286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-11.6071deg) translate(-50%, -50%);
  }
  25% {
    transform: translate(274.75px, 1px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-12.5deg) translate(-50%, -50%);
  }
  26.79% {
    transform: translate(291.3712px, 1.0714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-13.3929deg) translate(-50%, -50%);
  }
  28.57% {
    transform: translate(307.5918px, 1.1429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-14.2857deg) translate(-50%, -50%);
  }
  30.36% {
    transform: translate(323.412px, 1.2143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-15.1786deg) translate(-50%, -50%);
  }
  32.14% {
    transform: translate(338.8316px, 1.2857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-16.0714deg) translate(-50%, -50%);
  }
  33.93% {
    transform: translate(353.8508px, 1.3571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-16.9643deg) translate(-50%, -50%);
  }
  35.71% {
    transform: translate(368.4694px, 1.4286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-17.8571deg) translate(-50%, -50%);
  }
  37.5% {
    transform: translate(382.6875px, 1.5px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-18.75deg) translate(-50%, -50%);
  }
  39.29% {
    transform: translate(396.5051px, 1.5714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-19.6429deg) translate(-50%, -50%);
  }
  41.07% {
    transform: translate(409.9222px, 1.6429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-20.5357deg) translate(-50%, -50%);
  }
  42.86% {
    transform: translate(422.9388px, 1.7143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-21.4286deg) translate(-50%, -50%);
  }
  44.64% {
    transform: translate(435.5548px, 1.7857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-22.3214deg) translate(-50%, -50%);
  }
  46.43% {
    transform: translate(447.7704px, 1.8571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-23.2143deg) translate(-50%, -50%);
  }
  48.21% {
    transform: translate(459.5855px, 1.9286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-24.1071deg) translate(-50%, -50%);
  }
  50% {
    transform: translate(471px, 2px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-25deg) translate(-50%, -50%);
  }
  51.79% {
    transform: translate(482.014px, 2.0714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-25.8929deg) translate(-50%, -50%);
  }
  53.57% {
    transform: translate(492.6276px, 2.1429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-26.7857deg) translate(-50%, -50%);
  }
  55.36% {
    transform: translate(502.8406px, 2.2143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-27.6786deg) translate(-50%, -50%);
  }
  57.14% {
    transform: translate(512.6531px, 2.2857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-28.5714deg) translate(-50%, -50%);
  }
  58.93% {
    transform: translate(522.0651px, 2.3571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-29.4643deg) translate(-50%, -50%);
  }
  60.71% {
    transform: translate(531.0765px, 2.4286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-30.3571deg) translate(-50%, -50%);
  }
  62.5% {
    transform: translate(539.6875px, 2.5px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-31.25deg) translate(-50%, -50%);
  }
  64.29% {
    transform: translate(547.898px, 2.5714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-32.1429deg) translate(-50%, -50%);
  }
  66.07% {
    transform: translate(555.7079px, 2.6429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-33.0357deg) translate(-50%, -50%);
  }
  67.86% {
    transform: translate(563.1173px, 2.7143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-33.9286deg) translate(-50%, -50%);
  }
  69.64% {
    transform: translate(570.1263px, 2.7857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-34.8214deg) translate(-50%, -50%);
  }
  71.43% {
    transform: translate(576.7347px, 2.8571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-35.7143deg) translate(-50%, -50%);
  }
  73.21% {
    transform: translate(582.9426px, 2.9286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-36.6071deg) translate(-50%, -50%);
  }
  75% {
    transform: translate(588.75px, 3px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-37.5deg) translate(-50%, -50%);
  }
  76.79% {
    transform: translate(594.1569px, 3.0714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-38.3929deg) translate(-50%, -50%);
  }
  78.57% {
    transform: translate(599.1633px, 3.1429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-39.2857deg) translate(-50%, -50%);
  }
  80.36% {
    transform: translate(603.7691px, 3.2143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-40.1786deg) translate(-50%, -50%);
  }
  82.14% {
    transform: translate(607.9745px, 3.2857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-41.0714deg) translate(-50%, -50%);
  }
  83.93% {
    transform: translate(611.7793px, 3.3571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-41.9643deg) translate(-50%, -50%);
  }
  85.71% {
    transform: translate(615.1837px, 3.4286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-42.8571deg) translate(-50%, -50%);
  }
  87.5% {
    transform: translate(618.1875px, 3.5px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-43.75deg) translate(-50%, -50%);
  }
  89.29% {
    transform: translate(620.7908px, 3.5714px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-44.6429deg) translate(-50%, -50%);
  }
  91.07% {
    transform: translate(622.9936px, 3.6429px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-45.5357deg) translate(-50%, -50%);
  }
  92.86% {
    transform: translate(624.7959px, 3.7143px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-46.4286deg) translate(-50%, -50%);
  }
  94.64% {
    transform: translate(626.1977px, 3.7857px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-47.3214deg) translate(-50%, -50%);
  }
  96.43% {
    transform: translate(627.199px, 3.8571px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-48.2143deg) translate(-50%, -50%);
  }
  98.21% {
    transform: translate(627.7997px, 3.9286px) scale(1) rotateX(0deg)
      rotateY(0deg) rotateZ(-49.1071deg) translate(-50%, -50%);
  }
  100% {
    transform: translate(628px, 4px) scale(1) rotateX(0deg) rotateY(0deg)
      rotateZ(-50deg) translate(-50%, -50%);
  }
}
html::after {
  content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel);
  position: absolute;
  left: -999em;
}

@keyframes stylie-graph {
  0% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  0.65% {transform:translate(0px, -0.0218px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  1.29% {transform:translate(0.0001px, -0.0871px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  1.94% {transform:translate(0.0005px, -0.1959px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  2.58% {transform:translate(0.0017px, -0.3482px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  3.23% {transform:translate(0.0042px, -0.5439px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  3.87% {transform:translate(0.0086px, -0.7829px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  4.52% {transform:translate(0.016px, -1.0651px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  5.16% {transform:translate(0.0272px, -1.3904px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  5.81% {transform:translate(0.0436px, -1.7587px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  6.45% {transform:translate(0.0665px, -2.1698px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  7.1% {transform:translate(0.0974px, -2.6236px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  7.74% {transform:translate(0.138px, -3.1198px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  8.39% {transform:translate(0.19px, -3.6583px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  9.03% {transform:translate(0.2556px, -4.2389px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  9.68% {transform:translate(0.3368px, -4.8612px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10.32% {transform:translate(0.436px, -5.5251px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  10.97% {transform:translate(0.5556px, -6.2303px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  11.61% {transform:translate(0.6984px, -6.9765px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  12.26% {transform:translate(0.867px, -7.7633px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  12.9% {transform:translate(1.0644px, -8.5905px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  13.55% {transform:translate(1.2938px, -9.4577px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  14.19% {transform:translate(1.5585px, -10.3645px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  14.84% {transform:translate(1.8617px, -11.3107px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  15.48% {transform:translate(2.2072px, -12.2957px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  16.13% {transform:translate(2.5987px, -13.3193px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  16.77% {transform:translate(3.0402px, -14.3809px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  17.42% {transform:translate(3.5356px, -15.4801px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  18.06% {transform:translate(4.0892px, -16.6165px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  18.71% {transform:translate(4.7054px, -17.7897px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  19.35% {transform:translate(5.3888px, -18.9991px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20% {transform:translate(6.144px, -20.2442px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  20.65% {transform:translate(6.976px, -21.5245px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  21.29% {transform:translate(7.8897px, -22.8396px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  21.94% {transform:translate(8.8904px, -24.1888px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  22.58% {transform:translate(9.9834px, -25.5716px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  23.23% {transform:translate(11.1741px, -26.9875px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  23.87% {transform:translate(12.4684px, -28.4358px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  24.52% {transform:translate(13.872px, -29.916px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  25.16% {transform:translate(15.3909px, -31.4274px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  25.81% {transform:translate(17.0312px, -32.9695px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  26.45% {transform:translate(18.7992px, -34.5416px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  27.1% {transform:translate(20.7015px, -36.143px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  27.74% {transform:translate(22.7446px, -37.7731px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  28.39% {transform:translate(24.9353px, -39.4313px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  29.03% {transform:translate(27.2806px, -41.1168px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  29.68% {transform:translate(29.7876px, -42.8289px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30.32% {transform:translate(32.4635px, -44.567px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  30.97% {transform:translate(35.3158px, -46.3303px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  31.61% {transform:translate(38.3521px, -48.1182px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  32.26% {transform:translate(41.58px, -49.9298px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  32.9% {transform:translate(45.0075px, -51.7645px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  33.55% {transform:translate(48.6427px, -53.6214px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  34.19% {transform:translate(52.4938px, -55.4999px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  34.84% {transform:translate(56.5691px, -57.3991px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  35.48% {transform:translate(60.8773px, -59.3182px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  36.13% {transform:translate(65.4269px, -61.2566px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  36.77% {transform:translate(70.227px, -63.2133px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  37.42% {transform:translate(75.2864px, -65.1876px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  38.06% {transform:translate(80.6144px, -67.1786px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  38.71% {transform:translate(86.2203px, -69.1856px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  39.35% {transform:translate(92.1136px, -71.2078px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40% {transform:translate(98.304px, -73.2442px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  40.65% {transform:translate(104.8013px, -75.2941px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  41.29% {transform:translate(111.6155px, -77.3566px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  41.94% {transform:translate(118.7566px, -79.4308px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  42.58% {transform:translate(126.2351px, -81.516px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  43.23% {transform:translate(134.0614px, -83.6112px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  43.87% {transform:translate(142.246px, -85.7157px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  44.52% {transform:translate(150.7998px, -87.8284px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  45.16% {transform:translate(159.7337px, -89.9487px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  45.81% {transform:translate(169.0588px, -92.0755px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  46.45% {transform:translate(178.7864px, -94.208px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  47.1% {transform:translate(188.9278px, -96.3454px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  47.74% {transform:translate(199.4947px, -98.4868px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  48.39% {transform:translate(210.4987px, -100.6312px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  49.03% {transform:translate(221.9519px, -102.7778px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  49.68% {transform:translate(233.8661px, -104.9258px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50.32% {transform:translate(246.1339px, -107.0742px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  50.97% {transform:translate(258.0481px, -109.2222px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  51.61% {transform:translate(269.5013px, -111.3688px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  52.26% {transform:translate(280.5053px, -113.5132px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  52.9% {transform:translate(291.0722px, -115.6546px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  53.55% {transform:translate(301.2136px, -117.792px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  54.19% {transform:translate(310.9412px, -119.9245px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  54.84% {transform:translate(320.2663px, -122.0513px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  55.48% {transform:translate(329.2002px, -124.1716px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  56.13% {transform:translate(337.754px, -126.2843px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  56.77% {transform:translate(345.9386px, -128.3888px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  57.42% {transform:translate(353.7649px, -130.484px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  58.06% {transform:translate(361.2434px, -132.5692px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  58.71% {transform:translate(368.3845px, -134.6434px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  59.35% {transform:translate(375.1987px, -136.7059px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60% {transform:translate(381.696px, -138.7558px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  60.65% {transform:translate(387.8864px, -140.7922px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  61.29% {transform:translate(393.7797px, -142.8144px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  61.94% {transform:translate(399.3856px, -144.8214px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  62.58% {transform:translate(404.7136px, -146.8124px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  63.23% {transform:translate(409.773px, -148.7867px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  63.87% {transform:translate(414.5731px, -150.7434px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  64.52% {transform:translate(419.1227px, -152.6818px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  65.16% {transform:translate(423.4309px, -154.6009px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  65.81% {transform:translate(427.5062px, -156.5001px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  66.45% {transform:translate(431.3573px, -158.3786px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  67.1% {transform:translate(434.9925px, -160.2355px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  67.74% {transform:translate(438.42px, -162.0702px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  68.39% {transform:translate(441.6479px, -163.8818px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  69.03% {transform:translate(444.6842px, -165.6697px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  69.68% {transform:translate(447.5365px, -167.433px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70.32% {transform:translate(450.2124px, -169.1711px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  70.97% {transform:translate(452.7194px, -170.8832px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  71.61% {transform:translate(455.0647px, -172.5687px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  72.26% {transform:translate(457.2554px, -174.2269px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  72.9% {transform:translate(459.2985px, -175.857px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  73.55% {transform:translate(461.2008px, -177.4584px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  74.19% {transform:translate(462.9688px, -179.0305px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  74.84% {transform:translate(464.6091px, -180.5726px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  75.48% {transform:translate(466.128px, -182.084px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  76.13% {transform:translate(467.5316px, -183.5642px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  76.77% {transform:translate(468.8259px, -185.0125px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  77.42% {transform:translate(470.0166px, -186.4284px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  78.06% {transform:translate(471.1096px, -187.8112px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  78.71% {transform:translate(472.1103px, -189.1604px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  79.35% {transform:translate(473.024px, -190.4755px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80% {transform:translate(473.856px, -191.7558px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  80.65% {transform:translate(474.6112px, -193.0009px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  81.29% {transform:translate(475.2946px, -194.2103px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  81.94% {transform:translate(475.9108px, -195.3835px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  82.58% {transform:translate(476.4644px, -196.5199px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  83.23% {transform:translate(476.9598px, -197.6191px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  83.87% {transform:translate(477.4013px, -198.6807px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  84.52% {transform:translate(477.7928px, -199.7043px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  85.16% {transform:translate(478.1383px, -200.6893px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  85.81% {transform:translate(478.4415px, -201.6355px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  86.45% {transform:translate(478.7062px, -202.5423px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  87.1% {transform:translate(478.9356px, -203.4095px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  87.74% {transform:translate(479.133px, -204.2367px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  88.39% {transform:translate(479.3016px, -205.0235px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  89.03% {transform:translate(479.4444px, -205.7697px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  89.68% {transform:translate(479.564px, -206.4749px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90.32% {transform:translate(479.6632px, -207.1388px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  90.97% {transform:translate(479.7444px, -207.7611px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  91.61% {transform:translate(479.81px, -208.3417px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  92.26% {transform:translate(479.862px, -208.8802px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  92.9% {transform:translate(479.9026px, -209.3764px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  93.55% {transform:translate(479.9335px, -209.8302px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  94.19% {transform:translate(479.9564px, -210.2413px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  94.84% {transform:translate(479.9728px, -210.6096px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  95.48% {transform:translate(479.984px, -210.9349px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  96.13% {transform:translate(479.9914px, -211.2171px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  96.77% {transform:translate(479.9958px, -211.4561px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  97.42% {transform:translate(479.9983px, -211.6518px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  98.06% {transform:translate(479.9995px, -211.8041px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  98.71% {transform:translate(479.9999px, -211.9129px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  99.35% {transform:translate(480px, -211.9782px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {transform:translate(480px, -212px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }
