$preto: #000000;
$azul-marinho: #00162C;
$azul-cinza: #406385;
$azul-cinza-claro: #4f657b;

$vermelho: #FF5050;
$amarelo: #E0B56C;
$verde: #3AF78C;

$azul-marinho40: #00162C40;
$azul-marinho60: #00162C60;

$azul-cinza50: #40638550;
$azul-cinza80: #40638580;
$azul-cinza90: #40638590;

$bt-reaction-bg: #000912;